<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Modbus RTU Multi-Slave Szimulátor</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <%- include('partials/sidebar', { slaves: slaves }) %>

    <div class="content">
      <h1>Üdvözöljük a Modbus RTU Webes Felületen</h1>
      <p>Válasszon egy kültérit az oldalsó menüből a regiszterek megtekintéséhez és módosításához.</p>
      <p>A <a href="/config">Program beállítások</a> menüpontban konfigurálhatja a Modbus TCP és RTU beállításokat.</p>
    </div>
  </div>
</body>

</html>